.detail-doctor {
    width: 100%;
    padding-top: 70px;

    .detail-doctor-container {

        .back-menu {
            background-color: #45c3d2;
            width: 100%;
            position: fixed;

            .back-ground {
                max-width: 1440px;
                width: 100%;
                margin: 0 auto;
                display: flex;
                align-items: center;

                .icon-back {
                    font-size: 25px;
                    padding-left: 20px;
                    margin-right: 30px;
                    color: #fff;
                    cursor: pointer;
                    text-decoration: none;

                    &:hover {
                        color: #333333;
                    }
                }

                .menu-title {
                    font-size: 25px;
                    font-weight: 500;
                    padding: 15px 0;
                    color: #fff;
                }
            }
        }

        .container-up {
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;
            padding: 30px 20px;

            .general-info {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: 15px 0;

                .content-left {
                    width: 15%;

                    .image {
                        width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .content-right {
                    width: 80%;

                    .up {
                        font-size: 27px;
                        font-weight: 600;
                        color: #333333;
                    }

                    .down {
                        p {
                            white-space: pre-line;
                            font-size: 14px;
                            font-weight: 400;
                            color: #555555;
                            margin-top: 5px;
                        }
                    }
                }
            }

            .schedule {
                display: flex;
                align-items: center;
                height: 100%;
                margin-top: 30px;

                .schedule-left {
                    width: 50%;
                    border-right: 1px solid #999;
                }

                .schedule-right {
                    width: 50%;
                    padding-left: 50px;
                }
            }

        }

        .container-down {
            width: 100%;
            background-color: #f9f9f9f9;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;

            .container-down-content {
                width: 100%;
                max-width: 1440px;
                margin: 0 auto;
                padding: 0px 20px 30px;

                .detail-info {
                    padding-top: 15px;
                    font-size: 14px;

                    .inner {

                        h1,
                        h2,
                        h3,
                        h4,
                        h5,
                        h6,
                        p,
                        span,
                        img,
                        li {
                            margin-bottom: 20px;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

        }
    }
}