.home-header {
    width: 100%;

    .home-header-container {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 20px;
        height: 70px;
        position: sticky;

        .home-header-content {
            width: 100%;
            height: 100%;
            display: flex;

            .left-content {
                width: 20%;
                display: flex;
                align-items: center;

                i {
                    font-size: 25px;
                    margin-right: 15px;
                    color: gray;
                    cursor: pointer;
                }

                .logo {
                    background: url('../../assets/logo.svg') center center no-repeat;
                    background-size: contain;
                    height: 100%;
                    width: 60%;
                    min-width: 140px;
                    cursor: pointer;
                }
            }

            .center-content {
                width: 60%;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .child-content {
                    cursor: pointer;

                    .text-title {
                        font-size: 12px;
                        font-weight: 700;
                        color: #333333;
                    }

                    .text-desc {
                        font-size: 10px;
                        font-weight: 400;
                        color: #333333;
                    }
                }
            }

            .right-content {
                width: 20%;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .language-vi {
                    font-size: 14px;
                    cursor: pointer;

                    &.active {
                        color: red;
                    }
                }

                .language-en {
                    font-size: 14px;
                    margin-left: 10px;
                    cursor: pointer;

                    &.active {
                        color: red;
                    }
                }

                .supports {
                    margin-right: 15px;
                    cursor: pointer;

                    i {
                        color: #45c3d2;
                        margin-right: 2px;
                    }

                    span {
                        font-size: 14px;
                        font-weight: 600;
                        color: #969495;
                    }
                }
            }
        }
    }

    .home-header-banner {
        width: 100%;
        height: 100%;
        background: url('../../assets/background.jpg') center center no-repeat;
        background-size: cover;
        background-color: #fff;

        .banner-top {
            width: 100%;
            padding-top: 100px;
            padding-bottom: 250px;
            background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));

            .banner-heading {
                font-size: 32px;
                color: #fff;
                text-align: center;
                text-transform: uppercase;
                text-shadow: 1px 1px 1px #333;

                .banner-title {
                    font-weight: 400;
                }

                .banner-sub-title {
                    font-weight: 600;
                    margin-top: 10px;
                }
            }

            .banner-search {
                height: 50px;
                width: 22%;
                min-width: 300px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin: 20px auto;
                background-color: #f7d800;
                border-radius: 25px;

                input {
                    width: 80%;
                    outline: none;
                    background: transparent;
                    border: none;
                }

                i {
                    font-size: 16px;
                    margin-left: 6px;
                }
            }
        }

        .banner-options {
            background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));
            padding: 50px 0;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            .banner-item {
                height: 50%;
                width: 150px;
                max-height: 120px;
                padding: 5px;

                .item-link {
                    text-decoration: none;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    &:hover {
                        .item-title {
                            color: #45c3d2;
                        }
                    }

                    .item-img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        background-color: #fff;
                        border: 1px solid #ccc;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .item-icon {
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            width: 30px;
                            height: 30px;
                        }
                    }

                    .item-title {
                        font-size: 16px;
                        color: #000;
                        font-weight: 600;
                        text-align: center;
                        width: 120px;
                        margin-top: 10px
                    }
                }
            }
        }
    }
}