@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.specialty-section {
    width: 100%;
    height: 330px;
    // background-color: #f5f5f5;
    border-bottom: 3px solid #efeef5;

    .specialty-container {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 20px 20px 30px;

        .specialty-content {

            .content-top {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                .content-title {
                    font-size: 24px;
                    font-weight: 600;
                    padding: 15px 0 5px;
                    margin-bottom: 20px;
                }

                .content-btn {
                    font-size: 11px;
                    padding: 10px 15px;
                    background: #ebebeb;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #282e41;
                    cursor: pointer;

                    &:hover {
                        color: #fff;
                        background-color: #f7d800;
                    }
                }
            }

            .content-container {

                .specialty-slider {
                    .slider {
                        width: 90%;
                        margin: 0 auto;

                        .slick-disabled {
                            display: none !important;
                        }

                        .slick-slide {
                            text-align: center;

                            .specialty-item {
                                cursor: pointer;
                                width: 92% !important;
                                margin: 0 auto;

                                &:hover {
                                    .item-link {

                                        .item-text {
                                            color: #45c3d2;
                                        }
                                    }
                                }

                                .item-link {
                                    text-decoration: none;
                                    color: #111111;

                                    .item-img {
                                        height: 140px;
                                        width: 100%;
                                    }

                                    .item-text {
                                        font-size: 14px;
                                        padding: 7px 0;
                                        float: left;
                                    }
                                }
                            }
                        }

                        .slick-arrow {
                            width: 40px;
                            height: 40px;
                            border: 2px solid #d7d7d7;
                            background-color: rgba($color: #fff, $alpha: 0.5);

                            &.slick-next {
                                right: -45px;
                                z-index: 1;
                            }

                            &.slick-prev {
                                left: -45px;
                                z-index: 1;
                            }

                            &::before {
                                width: 30px;
                                height: 30px;
                                font-size: 25px;
                                font-weight: 900;
                                font-family: 'Montserrat', sans-serif;
                                line-height: 0.3;
                                color: rgba($color: #959595, $alpha: 0.8);
                            }

                            &:hover {
                                background-color: #fff;

                                &::before {
                                    color: rgba($color: #959595, $alpha: 1);
                                }

                            }
                        }
                    }


                }
            }
        }



    }
}